/*Шапка, кнопки, лого, скрипты и шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Righteous&family=Ubuntu:wght@300;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: none;
}

body, html {
	width: 100%;
	height: 100%;
}
/*заголовок + тело + корректировка шапки*/
body {
	background-color: #fff;
	font-family: Trebuchet MS, Helvetica;
}

header {
	width: 100%;
	padding: 10px 0.5% 0px 0.5%;
	background: transparent;
	float: left;
	position: fixed;
}

header #logo {
	color: #fff;
	cursor: pointer;
}

header #logo span{
	font-size: 2em;
	line-height: 45px;
	margin-left: 3px;
	font-family: 'Righteous', serif;
}

@media (min-width: 701px) {
	#logo {
		float: left;
		width: 35%;
		font-size: 1.1em;
	}

	#about {
		float: left;
		width: 50%;
	}
}

/*кнопки справа от логотипа*/
@media (max-width: 700px) {
	#logo {
		margin-top: 15px;
		float: left;
		width: 100%;
		font-size: 1.5em;
	}

	#about {
		float: left;
		width: 100%;
	}
}

/*кликабельность кнопок (меняют цвет при наведении)*/
#about {
	text-align: right;
	font-size: 1em;
	line-height: 40px;
	margin-bottom: 10px;
}

#about > a {
	color: #fff;
}

#about > a:hover {
	color: #b0b0b0;
	text-decoration: underline;
}

#about > a:not(:last-child) {
	margin-right: 7%;
}

/*стили шапки*/
.fixed {
	z-index: 1000;
	background-color: #fff;
	border-bottom: 1px solid silver;
}

header.fixed #logo {
	color: #343434;
}

.fixed #about a {
	color: #343434;
}

.fixed #about a: hover; {
	color: #7c7c7c
}

/*если захотеть, то можно высрать background-image: url()*/
#top {
	width: 100%;
	height: 100%;
	background-image: url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
	background-blend-mode: multiply;
	background-size: cover;
	text-align: center;
	color: #fff;
	font-size: 2.5em;
}

/*чтобы красиво было фон делаль внатуре уцышка лее*/
@media (max-width: 1001px) {
	#top {
		font-size: 2.5em;
	}
}
@media (max-width: 1000px) and (min-width: 651px) {
	#top {
		font-size: 1.75em;
	}
}
@media (min-width: 650px) {
	#top {
		font-size: 1.25em;
		padding-top: 20%;
	}
}

#top h1 {
	padding: 0%;
}

#top h2 {
	color: #fff;
}

/*блок снизу с доп текстом*/
#main {
	float: left;
	background-color: #f6f6f6;
	border-top: 2px solid silver;
	color: #484848;
	font-size: 1.3em;
}

@media (min-width: 1401px) {
	#main {
		padding: 100px 15%;
		width: 70%;
	}
}

@media (max-width: 1400px) {
	#main {
		padding: 100px 5%;
		width: 90%;
	}
}

@media (max-width: 650px) {
	#main div {
		width: 88%!important;
		margin-bottom: 15px;
	}
}

#main div {
	width: 48%;
	margin-right: 2%;
	float: left;
}

#main h2 {
	font-size: 3em;
}

#main span {
	color: #a0a0a0;
}

/*работа с блоком фидбека*/
#contacts {
	width: 100%;
	float: left;
	padding-bottom: 10px;
	padding-top: 50px;
	border-top: 4px solid silver;
	background-color: #f4f4f4;
}

h1, h2, h3, h4, h5 {
	font-family: Ubuntu, serif;
	font-weight: lighter;
}

#contacts h5 {
	font-size: 2em;
	color: #4f4f4f;
}

/*работа с формами снизу*/

#form_input {
	margin-left: 15px;
	width: 30%;
	margin-left: 38%;
	font-size: 1.1em;
}

#form_input label {
	color: #505050;
	cursor: pointer;
	font-size: 1.3em;
	font-family: Ubuntu, serif;
}

#form_input label > span {
	color: #e87e7e;
}

#form_input input, #form_input textarea {
	margin-bottom: 10px;
	width: 70%;
	padding: 10px 2%;
	border-radius: 7px;
	border: 2px solid silver;
	font-size: 0.9em;
	color: #4a4a4a;
}

#form_input input:focus, #form_input textarea:focus {
	border-color: #333;
}

.btn {
	float: left;
	border-radius: 5px;
	padding: 5px 9px;
	font-size: 1em;
	background-color: #00ff00;
	text-shadow: #454545 0 0 2px;
	cursor: pointer;
	color: #fff;
	font-family: Ubuntu, serif;
}

.btn:hover {
	background-color: #013220;
}

/*блок ПОЧЕМУ МЫ?*/

#overview {

	float: left;
	background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);

	background-blend-mode: multiply;
	background-color: #4f1c75;
	background-size: cover;
	background-attachment: fixed;

	padding: 100px 0;
	width: 100%;
	text-align: center;
	color: #ffff;
	
}

#overview h2 {font-size: 3em};
#overview h4 {color: #a0a0a0; font-size: 1.2em};

#overview .img {

	float: left;
	width: 20%;
	margin-right: 5%;
	margin-top: 50px;

}

#overview img {

	background: #fafafa;
	padding: 5px;
	border: 2px solid silver;
	float: left;
	width: 100%;
	max-width: 500px;

}

#overview span {

	float: left;
	width: 100%;
	font-size: 1.5em;
	margin-top: 10px;
	color: #ffff;

}

@media (max-width: 700px) {

	#overview .img {
		width: 80%!important;
		margin-right: 0!important;
		margin-left: 10%!important;

	}
}